# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/

# Generated PDFs (created in CI)
infographics/pdf/
